extends ../base.pug

include ../partials/mixins

block container 
    main.container(data-smoothscroll="container" data-template="gallery")
        section.content(data-smoothscroll="content")
            .gallery
                .gallery_wrapper
                    .gallery_container
                        .gallery_heading(class="grid")
                            .gallery_heading_title.ofh
                                h1|Ceiling
                            
                            .gallery_heading_description.ofh
                                p
                                    |It is possible to cluster several pendants from one single canopy, either rectangular or circular.     
                                    |The rectangular canopy can be custom-made into any size to suit your requirements.
                                    |The small centered disc on the bottom always comes in finish 1.
                        
                        .gallery_products(class="grid" data-scroll-animation)
                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/c1.jpg").default, alt="c1")
                                    
                                    +product-info
                            
                                .product_title 
                                    h3|Koln
                            
                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/c2.jpg").default, alt="c2")
                                    
                                    +product-info
                            
                                .product_title 
                                    h3|Daro

                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/c3.jpg").default, alt="c3")
                                    
                                    +product-info
                            
                                .product_title 
                                    h3|Flut
                            
                        .gallery_products(class="grid" data-scroll-animation)
                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/c4.jpg").default, alt="c4")
                                    
                                    +product-info
                            
                                .product_title 
                                    h3|Noln

                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/c5.jpg").default, alt="c5")
                                    
                                    +product-info
                            
                                .product_title 
                                    h3|Noln

                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/c6.jpg").default, alt="c6")
                                    
                                    +product-info
                            
                                .product_title 
                                    h3|Miaa
            

                        .gallery_heading(class="grid")
                            .gallery_heading_title
                                h1|Lamps
                            
                            .gallery_heading_description
                                p
                                    |Alphabet de formes, la collection Calé(e) se décline en jeu géométrique où le sens du déséquilibre forme des objets simples, linéaires et raffinés.
                        
                        .gallery_products(class="grid" data-scroll-animation)
                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/l1.jpg").default, alt="l1")
                                    
                                    +product-info
                            
                                .product_title 
                                    h3|Blua
                            
                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/l2.jpg").default, alt="l2")
                                    
                                    +product-info-lamp
                            
                                .product_title 
                                    h3|Crit

                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/l3.jpg").default, alt="l3")
                                    
                                    +product-info
                            
                                .product_title 
                                    h3|Muno
                        

            include ../partials/footer
                  
            


