extends ../base.pug

block container 
    main.container(data-smoothscroll="container" data-template="home")
        section.content(data-smoothscroll="content")
            .home 
                .home_wrapper(class="utiliy-mobileViewport")
                    .home_media 
                        figure.home_figure.is-desktop
                            img.home_image.lazyload(data-src=require("../../images/hero.png").default, alt="hero")

                        figure.home_figure.is-mobile
                            img.home_image.lazyload(data-src=require("../../images/hero_mob.png").default, alt="hero")
                    
                    .home_content(class="grid") 
                        .home_description.ofh
                            p|An assembly of designs, the Calé(e) collection offers a range of geometric patterns where the sense of imbalance forms simple, linear and sophisticated objects.
                        
                        .home_label.ofh
                            span|Scroll 
                            span|&darr;

            .gallery
                .gallery_wrapper
                    .gallery_container
                        .gallery_heading(class="grid")
                            .gallery_heading_title.ofh
                                span|ceiling &#x2014; wall
                                h2|Lightings
                            
                            .gallery_heading_description.ofh
                                p
                                    |It is possible to cluster several pendants from one single canopy, either rectangular or circular.     
                                    |The rectangular canopy can be custom-made into any size to suit your requirements.
                                    |The small centered disc on the bottom always comes in finish 1.
                        
                        .gallery_products(class="grid" data-scroll-animation)
                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/c1.jpg").default, alt="c1")
                                    
                                    +product-info
                            
                                .product_title
                                    h3
                                        span|01.  
                                        |Koln
                                    span.open-info|+
                            
                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/c2.jpg").default, alt="c2")
                                    
                                    +product-info
                            
                                .product_title 
                                    h3
                                        span|02. 
                                        |Daro
                                    span.open-info|+

                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/c3.jpg").default, alt="c3")
                                    
                                    +product-info
                            
                                .product_title 
                                    h3
                                        span|03. 
                                        |Flut
                                    span.open-info|+
                            
                        .gallery_products(class="grid" data-scroll-animation)
                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/c4.jpg").default, alt="c4")
                                    
                                    +product-info
                            
                                .product_title 
                                    h3
                                        span|04. 
                                        |Noln
                                    span.open-info|+

                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/c5.jpg").default, alt="c5")
                                    
                                    +product-info
                            
                                .product_title 
                                    h3
                                        span|05. 
                                        |Noln
                                    span.open-info|+

                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/c6.jpg").default, alt="c6")
                                    
                                    +product-info
                            
                                .product_title 
                                    h3
                                        span|06. 
                                        |Miaa
                                    span.open-info|+
            

                        .gallery_heading(class="grid")
                            .gallery_heading_title
                                span|floor &#x2014; table
                                h2|Lamps
                            
                            .gallery_heading_description
                                p
                                    |An alphabet of shapes, the Calé(e) collection comes in a geometric game where the sense of imbalance forms simple, linear and refined objects.
                        
                        .gallery_products(class="grid" data-scroll-animation)
                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/l1.jpg").default, alt="l1")
                                    
                                    +product-info
                            
                                .product_title 
                                    h3
                                        span|01. 
                                        |Blua
                                    span.open-info|+

                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/l2.jpg").default, alt="l2")
                                    
                                    +product-info-lamp
                            
                                .product_title 
                                    h3
                                        span|02. 
                                        |Crit
                                    span.open-info|+

                            .gallery_product
                                .product_media
                                    figure.product_media_figure 
                                        img.product_media_image.lazyload(data-src=require("../../images/gallery/l3.jpg").default, alt="l3")
                                    
                                    +product-info
                            
                                .product_title 
                                    h3
                                        span|03. 
                                        |Muno
                                    span.open-info|+

            .about 
                .about_wrapper(data-scroll-animation)
                    .about_heading
                        h1|About
                        span|CVL &#x2014; Pool
                    
                    .about_media.is-desktop 
                        figure.about_figure.ofh 
                            img.about_image.lazyload(data-src=require("../../images/about2.jpg").default, alt="c1")

                    .about_media.is-mobile
                        figure.about_figure.ofh 
                            img.about_image.lazyload(data-src=require("../../images/about2-mob.jpg").default, alt="c1")

                    .about_content(class="grid")
                        .about_content_col
                            .about_content_col_title 
                                h4|CVL
                            
                            .about_content_col_link 
                                a(href="http://poolstudio.fr/" target='_blank' class="hover hover--case")|View more
                        
                        .about_content_col
                            .about_content_col_description
                                p|The Parisian design studio, founded in 2011 by Léa Padovani and Sébastien Kieffer, intervenes in as many domains as furniture, environment, and interior architecture.

                                p|The duo POOL studies its creations in a global context, either when signing their own collections or collaborating with other workshops and manufacturers.



                        .about_content_col
                            .about_content_col_title 
                                h4|Pool
                            
                            .about_content_col_link 
                                a(href="https://www.cvl-luminaires.fr/histoire/" target='_blank' class="hover hover--case")|View more

                        .about_content_col
                            .about_content_col_description
                                p|CVL Luminaires, located in the Loire Valley, brings over fifty years of experience in the design and production of high quality lightings.

                                p|Each light fitting is entirely handmade and highlights CVL’s know-how, driven by our passion for our favourite material: brass.

                                //- p|Since several years, the internal design office, managed by Émilie Cathelineau, designer at CVL, collaborates with independent desi- gners like Hervé Langlais, POOL and Kristian Gavoille. Recently, they were joined by Pauline Deltour to create the new collection.

            .contact
                .contact_wrapper(class="grid" data-scroll-animation)
                    .contact_contents
                        .contact_heading 
                            h1|Get in touch
                            
                        .contact_flex 
                            .contact_description 
                                p|From interior to the moon.
                                p|Furniture that offers intelligent solutions, integrating sustainability, quality, design, better cost and, most importantly, well-being.

                            .contact_social
                                p|Instagram 
                                p|Dribbble

                    .contact_media.ofh
                        figure.contact_figure 
                            img.contact_image.lazyload(data-src=require("../../images/contact.jpg").default, alt="contact")

            include ../partials/footer
           
                        
    
